.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.container-head {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    color: #000;
}

.resume {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    align-self: stretch;
    border-radius: 40px;
    background: #FFF;
}

.resume-head {

}

.resume-content {
}

.stack {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    align-self: stretch;
    border-radius: 40px;
    background: #FFF;
}

.stack-head {

}

.stack-content {

}