.user-data_component {
    display: inline-flex;
    /*width: 700px;*/
    /*height: 70vh;*/
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    color: #000;
}

.userData_header {
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid #000;
}

.fillData {
    font-size: 32px;
    font-weight: 500;
}

.fillData_second {
    font-size: 16px;
    font-weight: 500;
}

.userData_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    height: 60vh;
}

.userData_form > label {
    display: flex;
    padding-bottom: 0;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    font-size: 16px;
    font-weight: 500;
}

.userData_form > input, select {
    display: flex;
    width: 500px;
    height: 50px;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
}

.userData_form > input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.btnForm {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.cancelBtn {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid rgba(189, 14, 14, 0.80);
    color: rgba(189, 14, 14, 0.80);
    font-size: 16px;
    font-weight: 500;
}

.saveBtn {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #4E92F8;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}