p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.container-head {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: #1F1F1F;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FFFFFFB2;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}

.info-block_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.nameTag-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name {

}

.tag {

}

.ageLocation-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.age {

}

.location {

}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.email {

}

.phoneNumber {

}

.role {

}

.brand {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.container-content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #FFF;
}

.content-head {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.blue-btn {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: rgba(0, 102, 255, 0.78);
}

.content {
    color: #000;
}