p {
    margin: 0;
    padding: 0;
}

.container-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-block {
    display: flex;
    width: 630px;
    padding: 30px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 40px;
    background: #FFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.container-content {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 30px;
    background: #FFF;
}

.content-head {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.blue-btn {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: rgba(0, 102, 255, 0.78);
}

.content {
    color: #000;
}